@theme {
  --color-primary-000: oklch(100% 0 none);
  --color-primary-025: oklch(97.847% 0.00736 244.63);
  --color-primary-050: oklch(95.695% 0.01472 244.63);
  --color-primary-075: oklch(93.388% 0.02261 244.63);
  --color-primary-100: oklch(91.236% 0.02997 244.63);
  --color-primary-150: oklch(86.931% 0.04469 244.63);
  --color-primary-200: oklch(82.472% 0.05994 244.63);
  --color-primary-250: oklch(78.166% 0.07467 244.63);
  --color-primary-300: oklch(73.861% 0.08939 244.63);
  --color-primary-350: oklch(69.556% 0.10411 244.63);
  --color-primary-400: oklch(65.251% 0.11883 244.63);
  --color-primary-450: oklch(60.945% 0.13356 244.63);
  --color-primary-500: oklch(56.486% 0.14881 244.63);
  --color-primary-550: oklch(52.95% 0.1609 244.63);
  --color-primary-600: oklch(48.154% 0.14633 244.63);
  --color-primary-650: oklch(43.933% 0.1335 244.63);
  --color-primary-700: oklch(39.521% 0.12009 244.63);
  --color-primary-750: oklch(35.3% 0.10727 244.63);
  --color-primary-800: oklch(30.888% 0.09386 244.63);
  --color-primary-850: oklch(26.667% 0.08103 244.63);
  --color-primary-900: oklch(22.446% 0.06821 244.63);
  --color-primary-950: oklch(17.65% 0.05363 244.63);
  --color-primary-999: oklch(0% 0 none);
  --color-secondary-000: oklch(100% 0 none);
  --color-secondary-025: oklch(98.017% 0.00232 80.105);
  --color-secondary-050: oklch(95.637% 0.0051 80.105);
  --color-secondary-075: oklch(93.653% 0.00742 80.105);
  --color-secondary-100: oklch(91.273% 0.01021 80.105);
  --color-secondary-150: oklch(86.91% 0.01531 80.105);
  --color-secondary-200: oklch(82.944% 0.01995 80.105);
  --color-secondary-250: oklch(78.549% 0.02466 79.762);
  --color-secondary-300: oklch(74.154% 0.02938 79.418);
  --color-secondary-350: oklch(69.959% 0.03387 79.09);
  --color-secondary-400: oklch(65.565% 0.03859 78.746);
  --color-secondary-450: oklch(61.37% 0.04308 78.418);
  --color-secondary-500: oklch(56.576% 0.04822 78.043);
  --color-secondary-550: oklch(52.838% 0.04587 78.04);
  --color-secondary-600: oklch(48.27% 0.04299 78.036);
  --color-secondary-650: oklch(44.117% 0.04037 78.033);
  --color-secondary-700: oklch(39.549% 0.03749 78.029);
  --color-secondary-750: oklch(35.397% 0.03487 78.026);
  --color-secondary-800: oklch(31.244% 0.03225 78.022);
  --color-secondary-850: oklch(26.781% 0.02764 78.022);
  --color-secondary-900: oklch(22.317% 0.02304 78.022);
  --color-secondary-950: oklch(17.854% 0.01843 78.022);
  --color-secondary-999: oklch(0% 0 none);
  --color-positive-000: oklch(100% 0 none);
  --color-positive-025: oklch(97.725% 0.00799 142.5);
  --color-positive-050: oklch(95.45% 0.01599 142.5);
  --color-positive-075: oklch(93.317% 0.02348 142.5);
  --color-positive-100: oklch(91.042% 0.03147 142.5);
  --color-positive-150: oklch(86.634% 0.04696 142.5);
  --color-positive-200: oklch(82.084% 0.06295 142.5);
  --color-positive-250: oklch(77.675% 0.07844 142.5);
  --color-positive-300: oklch(73.125% 0.09442 142.5);
  --color-positive-350: oklch(68.717% 0.10991 142.5);
  --color-positive-400: oklch(64.309% 0.1254 142.5);
  --color-positive-450: oklch(59.759% 0.14139 142.5);
  --color-positive-500: oklch(55.209% 0.15737 142.5);
  --color-positive-550: oklch(50.801% 0.17286 142.5);
  --color-positive-600: oklch(46.699% 0.1589 142.5);
  --color-positive-650: oklch(42.597% 0.14495 142.5);
  --color-positive-700: oklch(38.495% 0.13099 142.5);
  --color-positive-750: oklch(34.235% 0.11649 142.5);
  --color-positive-800: oklch(30.133% 0.10254 142.5);
  --color-positive-850: oklch(25.874% 0.08804 142.5);
  --color-positive-900: oklch(21.772% 0.07408 142.5);
  --color-positive-950: oklch(17.197% 0.05852 142.5);
  --color-positive-999: oklch(0% 0 none);
  --color-negative-000: oklch(100% 0 none);
  --color-negative-025: oklch(97.93% 0.01011 29.613);
  --color-negative-050: oklch(95.878% 0.02046 29.457);
  --color-negative-075: oklch(93.846% 0.03107 29.311);
  --color-negative-100: oklch(91.817% 0.04171 29.234);
  --color-negative-150: oklch(87.725% 0.06257 29.234);
  --color-negative-200: oklch(83.684% 0.08317 29.234);
  --color-negative-250: oklch(79.593% 0.10402 29.234);
  --color-negative-300: oklch(75.501% 0.12488 29.234);
  --color-negative-350: oklch(71.46% 0.14548 29.234);
  --color-negative-400: oklch(67.42% 0.16607 29.234);
  --color-negative-450: oklch(63.379% 0.18667 29.234);
  --color-negative-500: oklch(59.134% 0.20831 29.234);
  --color-negative-550: oklch(55.401% 0.22734 29.234);
  --color-negative-600: oklch(50.784% 0.20839 29.234);
  --color-negative-650: oklch(46.299% 0.18999 29.234);
  --color-negative-700: oklch(41.682% 0.17104 29.234);
  --color-negative-750: oklch(37.198% 0.15264 29.234);
  --color-negative-800: oklch(32.713% 0.13424 29.234);
  --color-negative-850: oklch(28.096% 0.11529 29.234);
  --color-negative-900: oklch(23.611% 0.09689 29.234);
  --color-negative-950: oklch(18.599% 0.07632 29.234);
  --color-negative-999: oklch(0% 0 none);
  --color-highlight-000: oklch(100% 0 none);
  --color-highlight-025: oklch(97.828% 0.02351 85.883);
  --color-highlight-050: oklch(95.662% 0.04706 85.756);
  --color-highlight-075: oklch(93.505% 0.07066 85.62);
  --color-highlight-100: oklch(91.404% 0.09381 85.479);
  --color-highlight-150: oklch(87.236% 0.14026 85.171);
  --color-highlight-200: oklch(84.417% 0.17216 84.934);
  --color-highlight-250: oklch(78.849% 0.1608 84.934);
  --color-highlight-300: oklch(74.359% 0.15165 84.934);
  --color-highlight-350: oklch(70.048% 0.14285 84.934);
  --color-highlight-400: oklch(65.738% 0.13406 84.934);
  --color-highlight-450: oklch(61.427% 0.12527 84.934);
  --color-highlight-500: oklch(56.937% 0.11612 84.934);
  --color-highlight-550: oklch(52.806% 0.10769 84.934);
  --color-highlight-600: oklch(48.495% 0.0989 84.934);
  --color-highlight-650: oklch(44.184% 0.09011 84.934);
  --color-highlight-700: oklch(39.874% 0.08132 84.934);
  --color-highlight-750: oklch(35.563% 0.07253 84.934);
  --color-highlight-800: oklch(31.252% 0.06374 84.934);
  --color-highlight-850: oklch(26.762% 0.05458 84.934);
  --color-highlight-900: oklch(22.451% 0.04579 84.934);
  --color-highlight-950: oklch(17.781% 0.03626 84.934);
  --color-highlight-999: oklch(0% 0 none);
  --color-info-000: oklch(100% 0 none);
  --color-info-025: oklch(97.792% 0.0104 259.83);
  --color-info-050: oklch(95.703% 0.02039 260.02);
  --color-info-075: oklch(93.501% 0.03109 260.23);
  --color-info-100: oklch(91.189% 0.04251 260.43);
  --color-info-150: oklch(87.014% 0.06369 260.48);
  --color-info-200: oklch(82.742% 0.08601 260.82);
  --color-info-250: oklch(78.378% 0.10953 261.27);
  --color-info-300: oklch(74.375% 0.13168 261.33);
  --color-info-350: oklch(70.177% 0.15491 261.4);
  --color-info-400: oklch(66.077% 0.1776 261.46);
  --color-info-450: oklch(61.977% 0.20029 261.52);
  --color-info-500: oklch(57.779% 0.22352 261.59);
  --color-info-550: oklch(54.362% 0.24242 261.64);
  --color-info-600: oklch(49.448% 0.22029 261.64);
  --color-info-650: oklch(45.271% 0.20147 261.64);
  --color-info-700: oklch(40.653% 0.18139 261.68);
  --color-info-750: oklch(36.291% 0.16243 261.72);
  --color-info-800: oklch(31.79% 0.14228 261.72);
  --color-info-850: oklch(27.43% 0.12276 261.72);
  --color-info-900: oklch(23.069% 0.10325 261.72);
  --color-info-950: oklch(18.146% 0.08121 261.72);
  --color-info-999: oklch(0% 0 none);
  --color-system-000: oklch(100% 0 none);
  --color-system-025: oklch(97.873% 0.00871 258.04);
  --color-system-050: oklch(95.614% 0.01795 258.04);
  --color-system-075: oklch(93.487% 0.02666 258.04);
  --color-system-100: oklch(91.361% 0.03536 258.04);
  --color-system-150: oklch(86.974% 0.05332 258.04);
  --color-system-200: oklch(82.721% 0.07073 258.04);
  --color-system-250: oklch(78.468% 0.08814 258.04);
  --color-system-300: oklch(74.215% 0.10555 258.04);
  --color-system-350: oklch(69.962% 0.12296 258.04);
  --color-system-400: oklch(65.708% 0.14037 258.04);
  --color-system-450: oklch(61.455% 0.15778 258.04);
  --color-system-500: oklch(57.202% 0.17519 258.04);
  --color-system-550: oklch(53.214% 0.19151 258.04);
  --color-system-600: oklch(48.918% 0.17605 258.04);
  --color-system-650: oklch(44.456% 0.15999 258.04);
  --color-system-700: oklch(40.159% 0.14453 258.04);
  --color-system-750: oklch(35.862% 0.12906 258.04);
  --color-system-800: oklch(31.4% 0.113 258.04);
  --color-system-850: oklch(27.103% 0.09754 258.04);
  --color-system-900: oklch(22.641% 0.08148 258.04);
  --color-system-950: oklch(17.848% 0.06423 258.04);
  --color-system-999: oklch(0% 0 none);
  --color-neutral-000: oklch(100% 0 none);
  --color-neutral-025: oklch(97.75% 0 none);
  --color-neutral-050: oklch(95.75% 0 none);
  --color-neutral-075: oklch(93.5% 0 none);
  --color-neutral-100: oklch(91.5% 0 none);
  --color-neutral-150: oklch(87% 0 none);
  --color-neutral-200: oklch(82.75% 0 none);
  --color-neutral-250: oklch(78.5% 0 none);
  --color-neutral-300: oklch(74.25% 0 none);
  --color-neutral-350: oklch(69.75% 0 none);
  --color-neutral-400: oklch(65.5% 0 none);
  --color-neutral-450: oklch(61.25% 0 none);
  --color-neutral-500: oklch(56.75% 0 none);
  --color-neutral-550: oklch(52.5% 0 none);
  --color-neutral-600: oklch(48.25% 0 none);
  --color-neutral-650: oklch(44% 0 none);
  --color-neutral-700: oklch(39.75% 0 none);
  --color-neutral-750: oklch(35.25% 0 none);
  --color-neutral-800: oklch(31% 0 none);
  --color-neutral-850: oklch(26.75% 0 none);
  --color-neutral-900: oklch(22.5% 0 none);
  --color-neutral-950: oklch(17.75% 0 none);
  --color-neutral-999: oklch(0% 0 none);
}
